.cardContainer {
    height: 600px;
    width: 400px;
    overflow: hidden;
    display: inline-block;
    padding-right: 100px;
    list-style: none;
    margin: 0 auto;
    padding-left: 105px;
    text-align: center;
}
.cardContainer img {
    height: auto;
    width: 200px;
}
.cardContainer p {
    text-align: center;
    font-weight: bold;
    font-size: large;
}
.cardContainer button {
    height: auto;
    width: 100px;    
}