.Title {
  text-align: center;
}
.Header {
  border: 5px solid;
  border-color: brown;
}
nav {
  list-style: none;
  margin: 0 2 px;
  padding: 0;
  display: flex;
  justify-content: space-around;
} 
