main {
  text-align: center;
  vertical-align: center;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  background-color: grey;
  box-shadow: 5cm;
}

.NavCard {
  background-color: brown;
}

.weaponLink {
  background-color: grey;
}

.armorLink {
  background-color: green;
}
nav {
  list-style: none;
  margin: 0 2 px;
  padding: 0;
  display: flex;
  justify-content: space-around;
} 
